* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fotodefundo {
    background-image: url('imagem/rodeo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(13, 13, 13);
    padding: 20px;
}

.horarioatendimento, .video, .redesociais {
    margin: 20px;
}

.conteudo {
    display: flex;
    flex-direction: column; /* Altera a direção do flexbox para coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: flex-start; /* Alinha os itens no topo */
    width: 100%;
    max-width: 1000px;
    
}

.redesociais {
    color: rgb(249, 247, 247);
}

.formulario {
    position: absolute;
    top: 70px; /* Ajusta a distância do topo */
    right: 50px; /* Ajusta a distância da direita */
    color: rgb(13, 12, 12);
}